<a href="https://colab.research.google.com/github/Chahatyeshu123/yashasvi/blob/main/Functions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:

variable = "welcome to python programing​"

print(variable)

welcome to python programing​

In [ ]:
name = input ("Enter your Name:")

print ("welcome to python programming!!!", name)

Enter your Name:chahat
welcome to python programming!!! chahat

In [ ]:

def getSum(n):

    sum = 0
    for digit in str(n):
      sum += int(digit)
    return sum

n = 123456789
print(getSum(n))

45

In [ ]:

def maximum(a, b):

    if a >= b:
        return a
    else:
        return b


a = 2
b = 4
print(maximum(a, b))

4

In [ ]:

num = 9

factorial = 1
if num < 0:
   print("Sorry, factorial does not exist for negative numbers")
elif num == 0:
   print("The factorial of 0 is 1")
else:
   for i in range(1,num + 1):
       factorial = factorial*i
   print("The factorial of",num,"is",factorial)

The factorial of 9 is 362880

In [ ]:

def personal_details():
    name, age = "chahat", 19
    address = "jaipur,rajasthan India"
    print("Name: {}\nAge: {}\nAddress: {}".format(name, age, address))

personal_details()

Name: chahat
Age: 19
Address: jaipur,rajasthan India

In [ ]:

def add_numbers( a = 7,  b = 8):
    sum = a + b
    print('Sum:', sum)

In [ ]:
sno = int(input("enter sno:"))
name = int(input("enter name:"))

print("Enter Marks Obtained in 5 Subjects: ")
mOne = int(input())
mTwo = int(input())
mThree = int(input())
mFour = int(input())
mFive = int(input())

sum = mOne+mTwo+mThree+mFour+mFive
avg = sum/5
perc = (sum/500)*100
total = mOne+mTwo+mThree+mFour+mFive
print(end="Average Mark = ")
print(avg)
print(end="total marks = ")
print(total)

enter sno:1
enter name:8
Enter Marks Obtained in 5 Subjects:
88
99
87
85
98
Average Mark = 91.4
total marks = 457

In [ ]:
def getSum(n):

    sum = 0
    for digit in str(n):
      sum += int(digit)
    return sum

n = 12345
print(getSum(n))

15

In [ ]:
def test_range(n):
    if n in range(10,20):
        print( "Number %s is in the range"%str(n))
    else :
        print("The number is outside the given range.")
test_range(15)

Number 15 is in the range

In [ ]:

  num = int(input("enter the number:"))

flag = False

if num == 1:
    print(num, "is not a prime number")
elif num > 1:

    for i in range(2, num):
        if (num % i) == 0:

            flag = True

            break


    if flag:
        print(num, "is not a prime number")
    else:
        print(num, "is a prime number")

enter the number:88
88 is not a prime number